<nav class="navbar navbar-light bg-success text-center">
    <div class="align-content-center w-100">
    <a class="navbar-brand mx-auto" href="{{ path('home') }}">
        <img  src="https://eb-graphiste.fr/wp-content/uploads/elementor/thumbs/Logo_eb_graphiste_blanc-ore8gqredc8my23o249fx6iyu5374tyhe65kyks2fw.png" width="100" height="100" alt="">
    </a>
    </div>
    <div class="d-inline-block">
        <div class="align-self-center w-100">
            <li class="d-flex justify-content-around">
                <ul><a href="{{ path('project') }}"> Projets </a></ul>
                {#            <ul><a href="{{ path('project') }}"> Articles </a></ul>#}
            </li>
        </div>
    </div>
</nav>
